MONGO_DB_URI=mongodb://
GoogleClientSecret=
HashString=
AllowUrl={"urls": ["http://localhost:9000", "https://localhost:9000", "http://localhost:7000", "https://localhost:7000"]}
PORT=7000
AuthProductionBaseURL=
BackendUrl=''
NODE_ENV=development
GoogleClientId=
IP=
userRoles={"roles" : ["Charity", "Volunteer", "Reader", "Librarian", "Developer"]}
