MONGO_DB_URI=mongodb://
TEST_DB=
GoogleClientSecret=
HashString=
AllowUrl={"urls": ["http://localhost:9000", "https://localhost:9000", "http://localhost:7000", "https://localhost:7000"]}
PORT=7000
AuthProductionBaseURL=
BackendUrl=''
NODE_ENV=development
GoogleClientId=
IP=
userRoles={"roles" : ["Charity", "Volunteer", "Reader", "Librarian"]}
GMAIL_USER=
GMAIL_APP_PASSWORD=
SCS_HOST=localhost
SCS_PORT=8888
SOCKETCLUSTER_SECURE=false
BUILD_BRANCH=main
TINY_KEY=
YOUTUBE_API_KEY=
YOUTUBE_CHANNEL_ID=UCOra1rXiO-BHzMDNlLd9hFQ
AUTH_ROLES={"song":["userType1","userType2"],"book":["userType1","userType2"],"user":["userType1", "userType2"]}
APP_NAME=Example
