version:  2.1
jobs:
  build:
    environment:
      CC_TEST_REPORTER_ID: 1d9c9d6a958067a900a277ffb2a6cbfe82fd18f794808b7212df26b80f01af49
    docker:
      - image: circleci/node:stretch
    working_directory: ~/repo
    steps:
      - checkout
      - run:
          name: Setup Code Climate test-reporter
          command: |
            curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > ./cc-test-reporter
            chmod +x ./cc-test-reporter
      - run:
          name:        Install Chromedriver latest version
          command:     |
            sudo apt-get update
            sudo apt-get install lsb-release libappindicator3-1 fonts-liberation libasound2 libnspr4 libnss3 libxss1 xdg-utils
            curl -L -o google-chrome.deb https://dl.google.com/linux/direct/google-chrome-stable_current_amd64.deb
            sudo dpkg -i google-chrome.deb
            sudo sed -i 's|HERE/chrome"|HERE/chrome" --no-sandbox|g' /opt/google/chrome/google-chrome
            rm google-chrome.deb
            sudo npm install -g npm
      - run:
          name:        Test install
          command:     'yarn install --frozen-lockfile'
      - run:
          name:        run all tests
          command:     |
            ./cc-test-reporter before-build
            yarn test
            ./cc-test-reporter after-build --coverage-input-type lcov --exit-code $?
      - store_artifacts:
          path:        coverage
          prefix:      coverage
